# Imports

In [3]:
import pandas as pd

# Datatset

In [4]:
url = "nhanes_2015_2016.csv"

In [6]:
da = pd.read_csv(url)

### Listing columns in dataset

In [26]:
da.columns # to check available columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [8]:
da['BMXWT']

0        94.8
1        90.4
2        83.4
3       109.8
4        55.2
        ...
5730     59.1
5731    112.1
5732     71.7
5733     78.2
5734     58.3
Name: BMXWT, Length: 5735, dtype: float64

we know that wieght is discrete and continuous we can get mean.

### Finding Mean

In [10]:
da['BMXWT'].mean() # mean automatically drops NaN

81.34267560889516

### Unique Values

In [12]:
da['DMDEDUC2'].unique()  # Categorical Ordered

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [13]:
g = da['RIAGENDR'] # Categorical, Unordered

In [14]:
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [15]:
g.unique()

array([1, 2])

# One Hot Encoding

In [16]:
B = ['bird', 'cat', 'dog', 'cat', 'bird', 'bird']

d = {'categorical': B} # d dict, column as categorical and B is it's vals

df = pd.DataFrame(d) # df is actually a dictionary of lists.

In [17]:
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        bird
5        bird

In [ ]:
# we can assign bird cat and dog as 1,2,3 values but for machine it 
# create an order i.e bird > cat > dog

In [18]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object

In [19]:
# "dummies" is used to create columns corresponding to unique values
dfDummies = pd.get_dummies(df['categorical'], prefix = 'category')

In [22]:
# due to prefix at new columns before each column name category word will be added.

In [23]:
dfDummies # Now dfDummies is another dataFrame with one Hot Encoding

   category_bird  category_cat  category_dog
0              1             0             0
1              0             1             0
2              0             0             1
3              0             1             0
4              1             0             0
5              1             0             0

In [ ]:
# for 0 index 1st val in vector(row) will be 1 and other's 0
# for 2nd index 2nd val in vector will be 1 and other's 0 and so on........!

In [24]:
dfDummies.values

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0]], dtype=uint8)